USE [master]
GO
/****** Object:  Database [DesktopApp]    Script Date: 9/6/2023 3:49:13 PM ******/
CREATE DATABASE [DesktopApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DesktopApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DesktopApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DesktopApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DesktopApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DesktopApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DesktopApp]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpID] [char](7) NOT NULL,
	[EmpName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Birth] [date] NULL,
	[PhoneNum] [varchar](20) NULL,
	[Salary] [int] NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportDetails]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportDetails](
	[ImpID] [char](7) NOT NULL,
	[Supplier] [nvarchar](100) NULL,
	[Price] [int] NOT NULL,
	[DateImp] [date] NOT NULL,
	[AmountImp] [int] NOT NULL,
	[EmpID] [char](7) NOT NULL,
	[ProdID] [char](7) NOT NULL,
 CONSTRAINT [PK_Imp] PRIMARY KEY CLUSTERED 
(
	[ImpID] ASC,
	[ProdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrdID] [char](7) NOT NULL,
	[ProdID] [char](7) NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrdID] ASC,
	[ProdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdID] [char](7) NOT NULL,
	[DateOrd] [date] NOT NULL,
	[CusName] [nvarchar](100) NULL,
	[CusNumPhone] [varchar](20) NULL,
	[EmpID] [char](7) NOT NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_Ord] PRIMARY KEY CLUSTERED 
(
	[OrdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productions]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productions](
	[ProdID] [char](7) NOT NULL,
	[ProdName] [nvarchar](100) NOT NULL,
	[Price] [int] NOT NULL,
	[Material] [nvarchar](100) NULL,
	[Discount] [varchar](10) NULL,
	[Amount] [int] NULL,
 CONSTRAINT [PK_Prod] PRIMARY KEY CLUSTERED 
(
	[ProdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDetails]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDetails](
	[RpID] [char](7) NOT NULL,
	[DateRp] [date] NOT NULL,
	[Turnover] [int] NULL,
	[Profit] [int] NULL,
	[EmpID] [char](7) NOT NULL,
 CONSTRAINT [PK_Rp] PRIMARY KEY CLUSTERED 
(
	[RpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 9/6/2023 3:49:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[RpID] [char](7) NOT NULL,
	[ProdID] [char](7) NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[RpID] ASC,
	[ProdID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ReportDetails] ADD  DEFAULT ((0)) FOR [Turnover]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_Imp_Emp] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK_Imp_Emp]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_Imp_Prod] FOREIGN KEY([ProdID])
REFERENCES [dbo].[Productions] ([ProdID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK_Imp_Prod]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetails_Employees] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK_ImportDetails_Employees]
GO
ALTER TABLE [dbo].[ImportDetails]  WITH CHECK ADD  CONSTRAINT [FK_ImportDetails_Productions] FOREIGN KEY([ProdID])
REFERENCES [dbo].[Productions] ([ProdID])
GO
ALTER TABLE [dbo].[ImportDetails] CHECK CONSTRAINT [FK_ImportDetails_Productions]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Ord_OrdDetail] FOREIGN KEY([OrdID])
REFERENCES [dbo].[Orders] ([OrdID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Ord_OrdDetail]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_Ord_Prod] FOREIGN KEY([ProdID])
REFERENCES [dbo].[Productions] ([ProdID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_Ord_Prod]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrdID])
REFERENCES [dbo].[Orders] ([OrdID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Productions] FOREIGN KEY([ProdID])
REFERENCES [dbo].[Productions] ([ProdID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Productions]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Ord_Emp] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Ord_Emp]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employees] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_Rp_Emp] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employees] ([EmpID])
GO
ALTER TABLE [dbo].[ReportDetails] CHECK CONSTRAINT [FK_Rp_Emp]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Rp_Prodl] FOREIGN KEY([ProdID])
REFERENCES [dbo].[Productions] ([ProdID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Rp_Prodl]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Rp_RpDetail] FOREIGN KEY([RpID])
REFERENCES [dbo].[ReportDetails] ([RpID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Rp_RpDetail]
GO
USE [master]
GO
