<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<gcServer enabled="true" />
	</runtime>
	<system.runtime.remoting>
		<customErrors mode="Off" />
		<application>
			<channels>
				<channel type="tcp" port="8080" />
			</channels>
			<service>
				<wellknown
					mode="Singleton"
					type="YourNamespace.YourRemoteObject, YourAssembly"
					objectUri="YourRemoteObjectUri" />
			</service>
		</application>
	</system.runtime.remoting>
</configuration>
